{{> Header}}

<main class="BoxViewMain">
    <section class="pokemon-grid">
       {{#each pokemons as |pokemon|}}
        <a href="/box/{{pokemon.boxId}}/pokemon/{{pokemon.id}}" class="pokemon-card">
            <img src="{{pokemon.userimageurl}}" alt="{{pokemon.name}}">
            <p>{{pokemon.name}}</p>
        </a>
        {{else}}
            <p>No Pokémon available in this box.</p>
        {{/each}}

    </section>

    <aside class="pokemon-details">
        {{#if pokemon}}
            <h2>{{pokemon.name}}</h2>
            <p>Nature: {{pokemon.nature}}</p>
            <p>Ability: {{pokemon.ability}}</p>
            <p>Level: {{pokemon.level}}</p>
            <ul>
                {{#each pokemon.moves}}
                    <li>{{this}}</li>
                {{/each}}
            </ul>
            <form id="pokemon-form" method="GET" action="/box/{{boxId}}/pokemon/update/{{pokemonId}}">
            <button id="pokemon-detail-button">Update Pokemon</button>
            </form>
            <form id="pokemon-form" method="POST" action="/box/{{boxId}}/pokemon/{{pokemonId}}">
            <input type="hidden" name="method" value="DELETE">
            <button id="pokemon-detail-button">Release Pokemon</button>
            </form>
            
        {{else}}
            <p>Select a Pokémon to see the details.</p>
        {{/if}}
    </aside>

</main>
 <div class="container">
        {{#each boxes}}
        <a href="/box/{{this.props.id}}/pokemon"><button id="team-button">{{this.props.name}}</button></a>
        {{/each}}
</div>

{{> Footer}}
