{{> Header}}

<div class="dex-individual-pokemon-details">
    {{#if pokemon}}
        <h2 id="dex-individual-pokemon-name">{{pokemon.props.name}}</h2>
        <p id="dex-individual-pokemon-entry">{{pokemon.props.entry}}</p>
        <p id="dex-individual-pokemon-type">{{pokemon.props.type}}</p>
        <img src="{{pokemon.props.userimageurl}}" alt="Image of {{pokemon.props.name}}" class="dex-individual-pokemon-image">
        <p id="dex-individual-pokemon-category">{{pokemon.props.category}}</p>
    {{/if}}
</div>

{{> Footer}}
