<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{ styles 'style.css' }}">
	<link rel="stylesheet" type="text/css" href="{{ styles 'PokemonViewStyles.css' }}">
	<link rel="stylesheet" type="text/css" href="{{ styles 'BoxViewStyle.css' }}">
	<title>PokePC</title>
</head>

<body>
	 <header class="pokemon-header">
        <!--<img src="../../images/pokepc.png" alt="PokePC Logo" class="pokeball-logo">-->

        <nav class="nav-menu">
            <ul>
                <li><a href="{{ path '' }}">Home</a></li>
                <li><a href="{{ path 'dex/pokemon'}}">Pokedex</a></li>
                {{#if loggedIn}}
                <li><a href="http://localhost:3000/box/{{boxId}}/pokemon">Box</a></li>
                <li><a href="http://localhost:3000/team/{{teamId}}/pokemon">Your Team</a></li>
                <li><a href="{{ path 'box/addpokemon'}}">Add Pokemon</a></li>
                <li><a href="{{ path 'team'}}">Teams</a></li>
                <li><a href="{{ path 'logout'}}">Logout</a></li>
                {{else}}
                <li><a href="{{ path 'login'}}">Login</a></li>
                <li><a href="{{ path 'register'}}">Register</a></li>       
                {{/if}}         
               
            </ul>
        </nav>
    </header>
	<main>
