{{> Header}}

<h1 style="text-align:center">Add Pokemon</h1>
<form id="add-pokemon-pokemon-form" method="POST" action="/box/:boxid/pokemon/:pokemonId/">
<div class="add-pokemon-grid-container">
    <div class="add-pokemon-small-grid" style="grid-column:1;grid-row:1">
        <label>Pokemon:</label>
        <select name="pokemonId" onsubmit="this.form.submit()">
            {{#each pokemon}}
                <option value="{{this.props.id}}">{{this.props.name}}</option>
            {{/each}}
        </select>
    </div>

    <div class="add-pokemon-small-grid" style="grid-column:2;grid-row:1">
        <label>Level:</label>
        <input type="text" id="add-pokemon-level" name="level"/>
    </div>

    <div class="add-pokemon-small-grid" style="grid-column:1;grid-row:2">
        <label>Nature:</label>
        <input type="text" id="add-pokemon-nature" name="nature"/>
    </div>

    <div class="add-pokemon-small-grid" style="grid-column:2;grid-row:2">
        <label>Ability:</label>
        <input type="text" id="add-pokemon-ability" name="ability"/>
    </div>
    
    <div class="add-pokemon-small-grid" style="grid-column:1;grid-row:3">
        <label>Move 1:</label>
        <select name="move1" onsubmit="this.form.submit()">
            {{#each moves}}
                <option value="{{this.props.id}}">{{this.props.name}}</option>
            {{/each}}
        </select>
    </div>

    <div class="add-pokemon-small-grid" style="grid-column:2;grid-row:3">
        <label>Move 2:</label>
        <select name="move2" onsubmit="this.form.submit()">
            {{#each moves}}
                <option value="{{this.props.id}}">{{this.props.name}}</option>
            {{/each}}
        </select>
    </div>

    <div class="add-pokemon-small-grid" style="grid-column:1;grid-row:4">
        <label>Move 3:</label>
        <select name="move3" onsubmit="this.form.submit()">
            {{#each moves}}
                <option value="{{this.props.id}}">{{this.props.name}}</option>
            {{/each}}
        </select>
    </div>

    <div class="add-pokemon-small-grid" style="grid-column:2;grid-row:4">
        <label>Move 4:</label>
        <select name="move4" onsubmit="this.form.submit()">
            {{#each moves}}
                <option value="{{this.props.id}}">{{this.props.name}}</option>
            {{/each}}
        </select>
    </div>
    
    <button id="add-pokemon-pokemon-form-submit-button">Submit</button>
</div>
</form>

{{> Footer}}
