{{> Header}}

<h1 style="text-align:center">Your Team</h1>

{{#unless teamPokemon}}
<p class="team-view-no-pokemon">No pokemon found</p>
{{else}}
<div class="team-view-team-grid">
    {{#each teamPokemon}}
    <div class="team-view-card">
        <img src="{{this.props.userimageurl}}" alt="{{this.props.name}}" class="team-view-pokemon-image">
        <div>
            <p class="team-view-pokemon-name">{{this.props.name}}</p>
            <p class="team-view-pokemon-type">{{this.props.type}}</p>
        </div>
    </div>
    {{/each}}
</div>
{{/unless}}

{{#if isUser}}
<form action="/team/{{id}}/pokemon/swap" method="POST" id="team-view-edit-team-form">
    <input type="hidden" name="method" value="PUT">

    <div class="team-view-small-grid">
        <label for="boxSpeciesId">Pokemon To Switch:</label>
        <select id="boxSpeciesId" name="boxSpeciesId" onsubmit="this.form.submit()">
            {{#each boxPokemon}}
            <option value="{{ this.props.id }}">{{this.props.name}}</option>
            {{/each}}
        </select>
    </div>

    <div class="team-view-small-grid">
        <label for="position">Position:</label>
        <select id="position" name="position" onsubmit="this.form.submit()">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
        </select>
    </div>
    
    <button id="team-view-team-form-submit-button">Submit</button>
</form>
<div class="box-navigation">
        {{#each teams}}
        <a href="/team/{{this.props.id}}/pokemon"><button class="box-button">{{this.props.name}}</button></a>
        {{/each}}
    </div>
{{/if}}
{{> Footer}}
